@charset "utf-8";

.b {
	font-weight: bold;
}

.mgt2 {
	margin-top: 2px!important;
}

.mgt10 {
	margin-top: 10px!important;
}

.mgb0 {
	margin-bottom: 0!important;
}

.mgb5 {
	margin-bottom: 5px!important;
}

.mgb10 {
	margin-bottom: 10px!important;
}

.mgb15 {
	margin-bottom: 15px!important;
}

.mgb20 {
	margin-bottom: 20px!important;
}

.mgb15 {
	margin-bottom: 15px!important;
}

.mgr10 {
	margin-right: 10px!important;
}

.mgr15 {
	margin-right: 15px!important;
}

.mgr20 {
	margin-right: 20px!important;
}

.mgl10 {
	margin-left: 10px!important;
}

.mgl15 {
	margin-left: 15px!important;
}

.mgl20 {
	margin-left: 20px!important;
}

.pdt2 {
	padding-top: 2px!important;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.taC {
	text-align: center!important;
}

.taL {
	text-align: left!important;
}

.taR {
	text-align: right!important;
}

/* Width Size CSS - Start - */

.w20 {
	width: 20px!important;
}

.w25 {
	width: 25px!important;
}

.w50 {
	width: 50px!important;
}

.w100 {
	width: 100px!important;
}

.w150 {
	width: 150px!important;
}

.w200 {
	width: 200px!important;
}

.w250 {
	width: 250px!important;
}

.w300 {
	width: 300px!important;
}

.w350 {
	width: 350px!important;
}

.w400 {
	width: 400px!important;
}

.w450 {
	width: 450px!important;
}

.w500 {
	width: 500px!important;
}

/* Width Size CSS - End - */
